*{
	padding: 0;
	margin: 0;
}
header{
width: 100%;
height: 70px;
box-shadow: 1px 1px 5px #000;
position: fixed;
background-color:black;
}

#fondo{
	background: url("http://static.alfabetajuega.com/abj_public_files/multimedia/imagenes/one-piece-serie-anime-boing.jpg");
}

body{
	background: url(../imagenes/azul.jpg) no-repeat fixed center center; ;
  
	background-size: cover;

}

#logoizq{
	float:left;
	width: 7%;
	height: 70px;
}
.izq{
	margin-left: 25px;
	height:100%;
	width: 100%;
}
#menu{
	width: 800px;
	padding-top: 25px;
	margin: auto;
	float: left;
}
#menu ul a {

	color: white;
	text-decoration: none;
	font: 16px verdana;
	padding: 10px 10px 17px 20px;
}

#menu ul a:hover{
	color:#f2f2f2;
	background-color: #6e6e6e;
}

#entrar{
	width:25%;
	height: 70px;
	float:right; 
	margin-right: 5px;
}

#ingresar{
	width: 750px;
	padding-top: 25px;
	margin: auto;
	float: left;
}
#ingresar ul a {

	color: white;
	text-decoration: none;
	font: 16px verdana;
	padding: 13px 20px 17px 20px;
}

#ingresar ul a:hover{
	color:#f2f2f2;
	background-color: #6e6e6e;
}
.imagenes{
	width: 300px;
	height: 280px;
	margin: auto;
}

div#titulogeneral{
	width:60%;
	height: 60px;
	margin:auto;
	margin-top: 50px;
	background-color: rgba(0,0,0,.65);}

.letratit{
	margin-bottom: 55px;
	text-align: center;
	font-size:50px;
	color:white; 
}


div.consulta{
	margin-bottom: 55px;
	text-align: center;
	width: 200px;
	height: 400px;
	font-size:50px;
	color:white; 
}
div#centro{
	margin-left: 40%;
	margin-right: 39%;
	font-size: 300px;

}

div#tit{
	background-color: rgba(0,0,0,.65);
	width:70%;
	margin: auto;
	text-align: center;
	font-size:25px;
	color:white;
}
div#par{
	background-color: rgba(0,0,0,.65);
	width:70%;
	height: 200px;
	margin: auto;
}

div#textoeimagen{
	width: 70%;
	height: 600px;
	margin: auto;
	


}

div#texto1{
	width: 49%;
	margin-left: 1%;
	float:left;
	background-color: rgba(0,0,0,.65);
	height: 300px;
	}

div#imagent{
	margin-right: 1%;
	width: 49%;
	float: left;
	background-color: rgba(0,0,0,.65);
}	

div#texto{
	background-color: rgba(0,0,0,.65);
	width: 70%;
	margin: auto;
	font-size: 17px;
	}

div#texto{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: rgba(0,0,0,.65);
	
	margin: auto;
	font-size: 25px;
	}

	div#texto6{
		text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	

	margin: auto;
	font-size: 20px;
	}


	div#videos{
	text-align: center;
	margin-bottom: 30px;
}


	.centro{
		text-align: center;
		font-size: 20px;
		color: white;
	}
	.tamano{
		height: 300px;
		width: 100%;
	}
	.tex{
		color:white;
	}

div#mensajedeerror{
	width:70%;
	height: 850%;
	margin:auto;
	margin-top: 50px;
	background-color: rgba(0,0,0,.65);}
}
div#centro1{
	margin-left:0%;
	margin-right:0%;
	width: 60%;
	height: 300px;
}
.imagenes2{
	width: 50%;
	height: 15%;
	margin-left: 20%;
	margin-right:20%;
}


.imagenes3{
	width: 50%;
	height: 5%;
	
	
}
div#prototipo{
	background-color: rgba(0,0,0,.65);
	margin:auto;
	width: 75%;
	height:85%;
	margin-top: 5%;
	margin-bottom: 2%;
}
div#centro2{
	width: 100%;
	height: 85%;
}
.forma{

	height:100%;
	width:100%;
}

div#formgen{
	padding-top: 100px;
	width:50% ;
	height: 70px ;
	background-color: rgba(0,0,0,.65);
	
}
div#form{

	margin:auto;
	width:50%;
	height: 90% ;
	margin-top:40px;
	background-color: rgba(0,0,0,.65);
	border-radius: 7px;
	
}
#formu{
	margin:auto;
	width:50%;
	height: 180px;
	margin-top:40px;
	background-color: rgba(0,0,0,.65);
	border-radius: 7px;
	
}
}

div#formtit{

	margin:20px 0 20px 0;
	width:70% ;
	height: 60px ;
	margin-top: 1px;
	background-color: rgba(255,255,255,.50);
	
}
.geb{
	color: white;
	text-align: center;
}

.input_48{
	margin-top: 7px;
	width: 45%;
	text-align: center;
}
.input_47{
	margin-top: 7px;
	width: 93%;
	text-align: center;
}
input{

	margin-bottom: 15px;
	padding: 5px;
	font-size: 16px;
}

.btn-enviar{

	background-color:  rgba(255,255,255,.50);

}