*{
	padding: 0;
	margin: 0;
}
header{
width: 100%;
height: 70px;
box-shadow: 1px 1px 5px #000;
position: fixed;
background-color:black;
}

body{
	background: url(../imagenes/azul.jpg) no-repeat fixed center center; ;
  
	background-size: cover;
	}

#logoizq{
	float:left;
	width: 7%;
	height: 70px;
}
.izq{
	margin-left: 25px;
	height:70px;
	width: 70px;
}
#menu{
	width: 800px;
	padding-top: 25px;
	margin: auto;
	float: left;
}
#menu ul a {

	color: white;
	text-decoration: none;
	font: 16px verdana;
	padding: 13px 20px 17px 20px;
}

#menu ul a:hover{
	color:#f2f2f2;
	background-color: #6e6e6e;
}

#entrar{
	width:25%;
	height: 70px;
	float:right; 
	margin-right: 5px;
}

#ingresar{
	width: 750px;
	padding-top: 25px;
	margin: auto;
	float: left;
}
#ingresar ul a {

	color: white;
	text-decoration: none;
	font: 16px verdana;
	padding: 13px 20px 17px 20px;
}

#ingresar ul a:hover{
	color:#f2f2f2;
	background-color: #6e6e6e;
}

#ingresar1{
	width: 200px;
	padding-top: 25px;
	margin-right:5%;
	float: right;
}
#ingresar1 ul a {

	color: white;
	text-decoration: none;
	font: 16px verdana;
	padding: 13px 20px 17px 20px;
}

#ingresar1 ul a:hover{
	color:#f2f2f2;
	background-color: #6e6e6e;
}

div#titulogeneral{
	width:60%;
	height: 60px;
	margin:auto;
	margin-top: 50px;
	background-color: rgba(0,0,0,.65);
}

	.letratit{
	text-align: center;
	font-size:50px;
	color:white; 
}

.imagenes{
	width: 60%;
	height: 300px;
	margin-left: 20%;
	margin-right:20%;
}
div#centro{
	margin-left:20%;
	margin-right:20%;
	width: 60%;
	height: 300px;
}

div#tit{
	background-color: rgba(0,0,0,.65);
	width:70%;
	margin: auto;
	text-align: center;
	font-size:25px;
	color:white;
}

div#texto{
	background-color: rgba(0,0,0,.65);
	width: 70%;
	margin: auto;
	font-size: 17px;
	}

.blanco{
	color:white;

}

div#textoeimagen{
	width: 70%;
	height: 300px;
	margin: auto;
	width:70%;
}

div#textoeimagen1 {
	width: 70%;
	height: 50%;
	margin: auto;
}

div#texto1{
	width: 49%;
	margin-left: 1%;
	float:left;
	background-color: rgba(0,0,0,.65);
	height: 300px;
	}
	div#texto2{
	width: 49%;
	margin-left: 1%;
	float:left;
	background-color: rgba(0,0,0,.65);
	height: 100%;
	}

div#imagent{
	margin-right: 1%;
	width: 49%;
	float: left;
	background-color: rgba(0,0,0,.65);
}	
div#imagent1{
	margin-right: 1%;
	width: 49%;
	float: left;
	background-color: rgba(0,0,0,.65);
	height: 100%;
}	
.tamano{
	height:300px;
	width: 100%;
}

.tamano1{
	height:100%;
	width: 100%;
}

.centro{
	margin-top: 20%;
	text-align: center;
	font-size: 20px;
	color: white;
}
.parrafo{
		font-size: 20px;
		color: white;	
		text-align: center;
}